@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
.list-skills:nth-child(1) {
  background-color: #8cb38b;
}

.list-skills:nth-child(2) {
  background-color: #cea5be;
}

.list-skills:nth-child(3) {
  background-color: #f7d092;
}

.list-skills:nth-child(4) {
  background-color: #b4bbf6;
}

.list-skills:nth-child(5) {
  background-color: #b5f3eb;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font: 400 1.6rem/1.2 "Roboto", sans-serif;
  color: #000;
  background-color: white;
}

@media (min-width: 48em) {
  .container {
    width: 90%;
    margin: 4rem auto;
    border-radius: 1rem 1rem 0 0;
  }
}

button {
  border: none;
  background: none;
}

.navbar {
  height: 12rem;
  width: 100%;
  -webkit-box-shadow: 0 0.4rem 0.5rem #de596a;
          box-shadow: 0 0.4rem 0.5rem #de596a;
  position: fixed;
}

@media (min-width: 48em) {
  .navbar {
    width: 90%;
    border-radius: 1rem 1rem 0 0;
  }
}

.navbar__container {
  background-color: #262677;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

@media (min-width: 48em) {
  .navbar__container {
    border-radius: 1rem 1rem 0 0;
  }
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 62em) {
  .navbar__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 2em;
  }
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 0.8em;
}

@media (min-width: 62em) {
  .navbar__logo {
    width: 100%;
  }
}

.navbar__text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #de596a;
}

@media (min-width: 62em) {
  .navbar__text {
    font-size: 2rem;
  }
}

.navbar__img {
  border-radius: 50%;
}

@media (min-width: 62em) {
  .navbar__img {
    width: 12%;
    height: 12%;
  }
}

.navbar__links {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #262677;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

@media (min-width: 62em) {
  .navbar__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    opacity: 1;
    overflow: initial;
    pointer-events: initial;
    height: 100%;
  }
}

.navbar__links .list__enlaces {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  margin: 0;
  position: relative;
}

@media (min-width: 62em) {
  .navbar__links .list__enlaces {
    width: 100%;
  }
}

.list {
  width: 100%;
  text-align: center;
  padding: 1.3em 0;
  list-style: none;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar__open-menu {
  width: 20rem;
  height: 6rem;
}

.navbar__close-menu {
  width: 18rem;
  height: 7rem;
}

.navbar__open-menu,
.navbar__close-menu {
  display: block;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 62em) {
  .navbar__open-menu,
  .navbar__close-menu {
    display: none;
  }
}

.navbar__close-menu {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1.1em 0;
}

@media (min-width: 62em) {
  .list__enlaces::after {
    content: "";
    background-color: #a19204;
    position: absolute;
    left: 0;
    top: calc(100% + 0.4rem);
    width: 100%;
    height: 0.4rem;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}

@media (min-width: 62em) {
  .list__enlaces.selected::after,
  .list__enlaces:hover::after {
    opacity: 1;
  }
}

.list__enlaces:hover {
  color: #f1a0b9;
}

.menu-opened {
  opacity: 1;
  pointer-events: all;
}

.navbar__open-menu:not(:focus-visible),
.navbar__close-menu:not(:focus-visible) {
  outline: none;
}

.profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
  line-height: 1.3;
  text-align: center;
  background: #363c8b;
  padding-top: 14rem;
}

@media (min-width: 30em) {
  .profile {
    font-size: 2rem;
  }
}

@media (min-width: 48em) {
  .profile {
    border-radius: 1rem 1rem 0 0;
  }
}

@media (min-width: 62em) {
  .profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 2.1rem;
  }
}

@media (min-width: 80em) {
  .profile {
    font-size: 2.7rem;
  }
}

.profile__text {
  padding: 0.5em;
  margin-bottom: 2rem;
}

@media (min-width: 62em) {
  .profile__text {
    text-align: left;
  }
}

.profile__title {
  margin-bottom: 0.8em;
  color: #fff;
}

.profile__subtitle {
  font-size: 0.8em;
  margin-bottom: 1.3em;
  color: #676976;
}

@media (min-width: 62em) {
  .profile__subtitle {
    font-size: 0.7em;
  }
}

.profile__image {
  position: relative;
  display: inline;
}

@media (min-width: 62em) {
  .profile__image {
    margin-top: 1em;
  }
}

.profile__img {
  width: 70%;
  max-width: 40rem;
}

.profile__line {
  background-color: #a19204;
  height: 1rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.card {
  background-color: #053b81;
  width: 100%;
  height: 6rem;
  line-height: 1.6;
  border-radius: 1rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6em;
}

@media (min-width: 62em) {
  .card {
    height: 4em;
  }
}

@media (min-width: 80em) {
  .card {
    height: 4.2em;
  }
}

.card__body {
  font-size: 0.6em;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  color: #fff;
  text-align: left;
}

@media (min-width: 62em) {
  .card__body {
    font-size: 0.7em;
  }
}

.card__text {
  font-size: 0.9em;
}

.btn {
  background-color: #140692;
  font-size: 1.3rem;
  padding: 0.4em 0.8em;
  color: #fff;
  width: 9rem;
  border-radius: 0.5rem;
  text-align: center;
}

@media (min-width: 62em) {
  .btn {
    width: 7em;
    font-size: 0.9em;
  }
}

@media (min-width: 80em) {
  .btn {
    width: 9em;
  }
}

.btn__text {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

.btn:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.language {
  background-color: #75a1c8;
  width: 100%;
  text-align: center;
}

@media (min-width: 48em) {
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.language__info {
  padding: 1rem 0;
  font-size: 2rem;
}

@media (min-width: 48em) {
  .language__info {
    font-size: 1.6rem;
  }
}

@media (min-width: 62em) {
  .language__info {
    font-size: 2.1rem;
  }
}

@media (min-width: 80em) {
  .language__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.language__icon {
  font-size: 4em;
}

.language__icon--one {
  color: #dd4b25;
}

.language__icon--two {
  color: #146eb0;
}

.language__icon--three {
  color: #efd81d;
}

.language__text {
  text-transform: capitalize;
  line-height: 1.5;
}

@media (min-width: 80em) {
  .language__text {
    margin-left: 1em;
    text-align: left;
  }
}

.language__title {
  font-weight: bold;
}

.language__subtitle {
  font-size: 0.8em;
}

.about {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 1em 1.2em;
}

@media (min-width: 30em) {
  .about {
    font-size: 1.5em;
  }
}

@media (min-width: 62em) {
  .about {
    font-size: 1.8em;
    padding: 1em 0;
  }
}

.about__title {
  font-size: 1.3em;
  margin-bottom: 1em;
  color: #061c9b;
  font-weight: bold;
  text-transform: capitalize;
}

.about__me {
  text-align: justify;
  font-size: 0.9em;
  font-weight: 500;
}

.skills {
  background-color: #f0eaea;
}

@media (min-width: 125em) {
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

.skills__soft {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

@media (min-width: 30em) {
  .skills__soft {
    font-size: 2.7rem;
  }
}

@media (min-width: 48em) {
  .skills__soft {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 62em) {
  .skills__soft {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 125em) {
  .skills__soft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 3rem;
  }
}

.list-skills {
  width: 10em;
  padding: 1em 0;
  margin: 1em 0;
  border-radius: 1rem;
}

.list-skills__text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #000;
  text-transform: capitalize;
  font-size: 0.8em;
}

.skill__technical {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  margin: 1em 0;
}

@media (min-width: 30em) {
  .skill__technical {
    font-size: 2.5rem;
  }
}

@media (min-width: 62em) {
  .skill__technical {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 2.1rem;
  }
}

@media (min-width: 68.75em) {
  .skill__technical {
    -webkit-column-gap: 2.5em;
            column-gap: 2.5em;
    font-size: 2.3rem;
  }
}

@media (min-width: 80em) {
  .skill__technical {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media (min-width: 90em) {
  .skill__technical {
    font-size: 1.8em;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
}

.cards {
  width: 11em;
  height: 17em;
  background-color: white;
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: 2em;
}

.cards__img {
  width: 100%;
  border-radius: 1em 1em 0 0;
}

.cards__body {
  font-size: 0.8em;
  margin-top: 1.3em;
  padding: 0 1em;
}

.cards__text {
  margin: 1.5em 0;
}

.author {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.466);
  margin: 1em 0;
}

.cards__star {
  text-align: center;
  margin: 1.5em 0;
}

.cards__star-img {
  width: 1.3em;
  margin-top: 1.5em;
}

.cards__puntos {
  font-size: 1.2em;
}

.business {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-top: 5em;
}

.business__text {
  font-family: "Otomanopee One", sans-serif;
  padding: 0 1.2em;
}

.business__name {
  margin-top: 2em;
}

.business_title {
  font-size: 1.4em;
  color: rgba(3, 12, 93, 0.637);
}

.business__list {
  line-height: 2;
  color: rgba(3, 12, 93, 0.418);
  font-weight: 700;
}

@media (min-width: 62em) {
  .business__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.business__list-name {
  font-size: 1.3em;
  list-style: none;
}

.info {
  width: 100%;
  padding: 1.2em;
}

@media (min-width: 62em) {
  .info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-column-gap: 3em;
            column-gap: 3em;
  }
}

.info__text {
  width: 100%;
  text-align: justify;
  margin-bottom: 1.4em;
  color: rgba(3, 12, 93, 0.418);
  font-weight: bold;
  font-size: 1em;
}

.anucio {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.anuncio__container {
  background-color: blue;
  width: 85rem;
  height: 40em;
  border-radius: 1em;
  position: relative;
}

.anuncio__img {
  width: 20rem;
  position: absolute;
  bottom: 65rem;
  left: 4rem;
}

.anuncio__text {
  margin-top: 10em;
  font-size: 0.8em;
}
/*# sourceMappingURL=style.css.map */