@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font: 400 1.6rem/1.2 "Roboto", sans-serif;
  color: #000;
  background-color: white;
  padding-top: 14rem;
}

.container {
  width: 100%;
}

button {
  border: none;
  background: none;
}

.header {
  width: 100%;
}

.navbar {
  height: 14rem;
  width: 100%;
  -webkit-box-shadow: 0 0.4rem 0.5rem #de596a;
          box-shadow: 0 0.4rem 0.5rem #de596a;
  background-color: #262677;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (min-width: 62em) {
  .navbar__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 2em;
  }
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 0.8em;
}

@media (min-width: 62em) {
  .navbar__logo {
    width: 100%;
  }
}

.navbar__text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #de596b;
}

@media (min-width: 62em) {
  .navbar__text {
    font-size: 2rem;
  }
}

.navbar__img {
  border-radius: 50%;
  margin-left: 1em;
}

@media (min-width: 62em) {
  .navbar__img {
    width: 12%;
    height: 12%;
  }
}

.navbar__links {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #262677;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

@media (min-width: 62em) {
  .navbar__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    opacity: 1;
    overflow: initial;
    pointer-events: initial;
    height: 100%;
  }
}

.navbar__links .list__enlaces {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  position: relative;
}

@media (min-width: 43em) {
  .navbar__links .list__enlaces {
    font-size: 1.8em;
  }
}

@media (min-width: 62em) {
  .navbar__links .list__enlaces {
    width: 100%;
    font-size: 1.3em;
  }
}

.list {
  width: 100%;
  text-align: center;
  padding: 1.3em 0;
  list-style: none;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn__imgClose {
  width: 8rem;
}

.btn__imgOpen {
  width: 8rem;
}

.navbar__open-menu,
.navbar__close-menu {
  display: block;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 62em) {
  .navbar__open-menu,
  .navbar__close-menu {
    display: none;
  }
}

.navbar__close-menu {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 62em) {
  .list__enlaces::after {
    content: "";
    background-color: #a19204;
    position: absolute;
    left: 0;
    top: calc(100% + 0.4rem);
    width: 100%;
    height: 0.4rem;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}

@media (min-width: 62em) {
  .list__enlaces.selected::after,
  .list__enlaces:hover::after {
    opacity: 1;
  }
}

.list__enlaces.selected {
  color: #a19204;
}

@media (min-width: 62em) {
  .list__enlaces.selected {
    color: white;
  }
}

.list__enlaces:hover {
  color: #f1a0b9;
}

.menu-opened {
  opacity: 1;
  pointer-events: all;
}

.navbar__open-menu:not(:focus-visible),
.navbar__close-menu:not(:focus-visible) {
  outline: none;
}

.profile__container {
  background: #363c8b;
}

.profile {
  width: 100%;
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  font-size: 1.7rem;
  line-height: 1.3;
  text-align: center;
  padding-top: 5rem;
  margin: 0 auto;
}

@media (min-width: 30em) {
  .profile {
    font-size: 2rem;
  }
}

@media (min-width: 62em) {
  .profile {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 2.1rem;
    padding-top: 3rem;
  }
}

@media (min-width: 80em) {
  .profile {
    font-size: 3rem;
  }
}

.profile__text {
  padding: 0.5em;
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
}

@media (min-width: 62em) {
  .profile__text {
    text-align: left;
  }
}

.profile__title {
  margin-bottom: 0.8em;
  color: #fff;
}

.profile__subtitle {
  font-size: 0.8em;
  margin-bottom: 1.3em;
  color: #fff;
}

@media (min-width: 62em) {
  .profile__subtitle {
    font-size: 0.7em;
  }
}

.profile__image {
  position: relative;
}

.profile__img {
  width: 70%;
  max-width: 40rem;
}

@media (min-width: 80em) {
  .profile__img {
    width: 100%;
  }
}

.profile__line {
  background-color: #a19204;
  height: 1rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.card {
  background-color: #f0c1d4;
  width: 20rem;
  height: 6rem;
  line-height: 1.6;
  border-radius: 1rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.6em;
  margin: 0 auto;
}

@media (min-width: 62em) {
  .card {
    height: 4em;
    margin: 0;
  }
}

@media (min-width: 80em) {
  .card {
    height: 4.2em;
  }
}

.card__body {
  display: none;
}

@media (min-width: 30em) {
  .card__body {
    font-size: 0.5em;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #061c9be3;
    text-align: center;
  }
}

@media (min-width: 30em) {
  .card__body {
    font-size: 0.7em;
  }
}

@media (min-width: 48em) {
  .card__body {
    margin-right: 0.5em;
  }
}

@media (min-width: 62em) {
  .card__body {
    font-size: 0.9em;
  }
}

.card__text {
  font-size: 0.9em;
}

.btn {
  background-color: #de596b;
  font-size: 1.3rem;
  width: 15rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 0.5rem;
  text-align: center;
}

@media (min-width: 62em) {
  .btn {
    width: 7em;
    font-size: 0.9em;
    width: 19rem;
    height: 5rem;
    line-height: 5rem;
  }
}

@media (min-width: 80em) {
  .btn {
    width: 9em;
  }
}

.btn__text {
  color: #061c9be3;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

.btn:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.language {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 48em) {
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.language__container {
  width: 100%;
  background-color: #75a1c8;
}

.language__info {
  padding: 1rem 0;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.815);
}

@media (min-width: 48em) {
  .language__info {
    font-size: 1.6rem;
  }
}

@media (min-width: 62em) {
  .language__info {
    font-size: 2.1rem;
  }
}

.language__icon {
  font-size: 3em;
}

.language__icon--one {
  color: #dd4b25;
}

.language__icon--two {
  color: #146eb0;
}

.language__icon--three {
  color: #efd81d;
}

.language__icon--four {
  color: #d6002f;
}

.language__icon--five {
  color: #d25191;
}

.language__icon--six {
  color: #7cdef7;
}

.language__text {
  text-transform: capitalize;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 0.5em;
}

@media (min-width: 62em) {
  .language__text {
    display: none;
  }
}

.language__title {
  font-weight: bold;
}

.about {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 1.5em 1.2em;
  background-color: #75a1c8;
  border-top: 1px solid rgba(0, 0, 0, 0.055);
}

@media (min-width: 30em) {
  .about {
    font-size: 1.5em;
  }
}

@media (min-width: 62em) {
  .about {
    font-size: 1.8em;
    padding: 0 1.8em;
  }
}

.about__title {
  font-size: 1.3em;
  margin: 1em 0;
  color: #061c9be3;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Otomanopee One", sans-serif;
}

.about__me {
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  color: #000;
  padding-bottom: 1em;
}

.skills__container {
  width: 100%;
  background-color: #e0e0e0;
}

.skills {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  padding: 1em 0.5em;
  text-transform: capitalize;
  border-top: 1px solid rgba(0, 0, 0, 0.055);
}

@media (min-width: 48em) {
  .skills {
    font-size: 3.5rem;
  }
}

.skills__soft {
  width: 100%;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__title {
  text-align: center;
  color: #061c9be3;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.list-skills {
  padding: 0.5em 0.7em;
  margin: 1rem;
  border: 0.1rem solid white;
  color: #262677;
  font-weight: 800;
  border-radius: 4rem;
  text-align: center;
  font-size: 0.6em;
}

@media (min-width: 48em) {
  .list-skills {
    margin: 2rem;
  }
}

.projects {
  width: 100%;
  background-color: #f3f2f3;
}

.project__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.projects__cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
}

@media (min-width: 37.5em) {
  .projects__cards {
    -ms-grid-columns: (minmax(300px, auto))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    padding: 0 0.5em;
  }
}

.cards {
  width: 100%;
  overflow: hidden;
  background-color: blue;
  margin-bottom: 1rem;
}

@media (min-width: 37.5em) {
  .cards {
    border-radius: 2rem;
  }
}

.cards__img {
  width: 100%;
  height: 100%;
}

@media (min-width: 30em) {
  .cards__img {
    width: 100%;
  }
}

@media (min-width: 48em) {
  .cards__body {
    font-size: 1em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cards__description {
  display: none;
}

@media (min-width: 48em) {
  .cards__description {
    font-size: 0.9em;
    background-color: yellow;
    width: 98%;
    height: 5rem;
    border-radius: 1rem;
    padding: 0.5em 0 0 0.5em;
  }
}

.projects__title {
  padding: 1em 0;
  text-align: center;
  color: #061c9be3;
  font-size: 1.3em;
}

@media (min-width: 43.75em) {
  .projects__title {
    font-size: 1.8em;
  }
}

.business {
  width: 100%;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.business__text {
  font-family: "Otomanopee One", sans-serif;
}

.business_title {
  font-size: 1.4em;
  color: rgba(3, 12, 93, 0.637);
}

.business__list {
  line-height: 2;
  color: rgba(3, 12, 93, 0.418);
  font-weight: 700;
}

@media (min-width: 62em) {
  .business__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.business__list-name {
  list-style: none;
}

.info {
  width: 100%;
}

@media (min-width: 62em) {
  .info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-column-gap: 3em;
            column-gap: 3em;
  }
}

.info__text {
  width: 100%;
  text-align: justify;
  color: rgba(3, 12, 93, 0.418);
  font-weight: bold;
  font-size: 1em;
}

.anuncio {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 48em) {
  .anuncio {
    margin: 3em 0;
  }
}

.anuncio__container {
  background-color: #2197c5;
  width: 23rem;
  height: 60rem;
  border-radius: 1em;
  position: relative;
  padding: 0 1em;
  font-size: 2rem;
  margin-bottom: 1em;
}

@media (min-width: 30em) {
  .anuncio__container {
    width: 28rem;
  }
}

@media (min-width: 48em) {
  .anuncio__container {
    width: 65rem;
    height: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 62em) {
  .anuncio__container {
    width: 90rem;
    height: 30rem;
  }
}

@media (min-width: 80em) {
  .anuncio__container {
    width: 100rem;
    height: 35rem;
  }
}

.anuncio__img {
  width: 20rem;
  position: absolute;
  left: 0.7em;
  bottom: 17em;
}

@media (min-width: 30em) {
  .anuncio__img {
    left: 2em;
  }
}

@media (min-width: 48em) {
  .anuncio__img {
    position: absolute;
    bottom: 0em;
    left: 0.5em;
    width: 22rem;
  }
}

@media (min-width: 62em) {
  .anuncio__img {
    width: 24rem;
  }
}

@media (min-width: 80em) {
  .anuncio__img {
    width: 27rem;
    left: 5em;
  }
}

.anuncio__linea {
  background-color: #e4fbfea4;
  height: 1rem;
  margin-top: 13em;
}

@media (min-width: 48em) {
  .anuncio__linea {
    display: none;
  }
}

.anuncio__text {
  text-align: justify;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 48em) {
  .anuncio__text {
    width: 19.5em;
    margin-top: 0.5em;
  }
}

@media (min-width: 62em) {
  .anuncio__text {
    width: 30em;
  }
}

@media (min-width: 80em) {
  .anuncio__text {
    width: 55rem;
  }
}

.anuncio__title {
  margin: 1em 0;
  font-size: 1em;
  color: #e4fbfe;
}

@media (min-width: 48em) {
  .anuncio__title {
    margin: 0.5em 0;
  }
}

@media (min-width: 62em) {
  .anuncio__title {
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 80em) {
  .anuncio__title {
    font-size: 2.8rem;
  }
}

.anuncio__subtilte {
  font-size: 0.8em;
  margin: 1.3em 0;
  color: #e4fbfea4;
}

@media (min-width: 30em) {
  .anuncio__subtilte {
    margin: 0.3em 0;
  }
}

@media (min-width: 62em) {
  .anuncio__subtilte {
    font-size: 1em;
    margin: 1.5em 0;
  }
}

.btn--anuncio {
  height: 5rem;
  width: 15rem;
  padding: 1em 0;
  text-align: center;
  font-size: 0.8em;
  margin: 1.3em auto;
  background-color: #2282a8;
}

@media (min-width: 30em) {
  .btn--anuncio {
    width: 18rem;
    height: 6rem;
    padding: 1.1em 0;
    font-size: 1em;
    margin: 0;
  }
}

@media (min-width: 48em) {
  .btn--anuncio {
    padding: 0.8em 0;
    margin-top: 0.8em;
  }
}

.contact {
  height: 100%;
  background-color: #f6f6f6;
}

.contact__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.form {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 2rem;
}

@media (min-width: 30em) {
  .form {
    width: 50rem;
    border-radius: 1rem;
  }
}

@media (min-width: 48em) {
  .form {
    width: 60rem;
  }
}

.contact__form {
  width: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  text-align: center;
  margin: 3rem 0 0.5em 0;
  color: #262677;
}

.form__group {
  margin-bottom: 1em;
  font-family: "Roboto", sans-serif;
  padding: 0.5em;
}

.form__label {
  text-transform: capitalize;
  font-weight: bold;
  color: #262677;
}

.form__input {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #000;
  font-size: 1.5em;
}

.contact__btn {
  display: block;
  width: 90%;
  background-color: #262677;
  color: white;
  height: 5rem;
  font-size: 1em;
  border-radius: 1rem;
  margin: 0 auto;
}

@media (min-width: 30em) {
  .contact__btn {
    width: 30rem;
  }
}

.form__textarea {
  display: block;
  width: 100%;
  font-size: 1.5em;
  border: 0;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  font-family: "Roboto", sans-serif;
}

.footer {
  width: 100%;
  background-color: #e0e0e0;
}

.footer__container {
  font-size: 2rem;
  width: 100%;
  height: 30rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__info {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

@media (min-width: 48em) {
  .footer__info {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

.footer__logo {
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  border-radius: 50%;
  background-color: #262677;
  margin: 0 auto;
  color: white;
}

@media (min-width: 48em) {
  .footer__logo {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
}

.footer__icono {
  font-size: 2.5em;
  font-family: "Raleway", sans-serif;
}

.footer__redes {
  font-size: 2.5em;
  text-align: center;
  margin-top: 2rem;
  color: #262677;
}

@media (min-width: 48em) {
  .footer__redes {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 8;
    font-size: 3em;
  }
}

.footer__text {
  font-size: 1.5em;
  color: #0c0c8d;
}

@media (min-width: 48em) {
  .footer__text {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 6;
  }
}

.footer__social {
  background-color: #262677;
}

.footer__copy {
  text-align: center;
  font-size: 1em;
  padding: 2em 0;
  color: white;
}
/*# sourceMappingURL=style.css.map */