@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font: 400 1.6rem/1.2 "Roboto", sans-serif;
  color: #000;
  background-color: white;
  padding-top: 14rem;
}

.container {
  width: 100%;
}

button {
  border: none;
  background: none;
}

.header {
  width: 100%;
}

.navbar {
  height: 14rem;
  width: 100%;
  background-color: #f1bd36;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.scroll {
  -webkit-box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.11);
          box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.11);
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 62em) {
  .navbar__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 2em;
  }
}

.navbar__logo {
  text-decoration: none;
  margin-left: 1.5rem;
}

@media (min-width: 62em) {
  .navbar__logo {
    width: 100%;
  }
}

.navbar__text {
  font-size: 1rem;
  text-align: center;
  color: black;
  letter-spacing: 0.1rem;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 62em) {
  .navbar__text {
    font-size: 1.4rem;
    text-align: left;
    letter-spacing: 0.2rem;
  }
}

.navbar__img {
  width: 5rem;
}

@media (min-width: 62em) {
  .navbar__img {
    width: 8rem;
  }
}

.navbar__links {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f1bd36;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

@media (min-width: 62em) {
  .navbar__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    opacity: 1;
    overflow: initial;
    pointer-events: initial;
    height: 100%;
  }
}

.list__enlaces {
  text-decoration: none;
  color: #000;
  font-size: 1.3em;
  margin: 0;
  position: relative;
  letter-spacing: 0.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@media (min-width: 62em) {
  .list__enlaces {
    width: 100%;
    font-size: 1.1em;
  }
}

@media (min-width: 72.5em) {
  .list__enlaces {
    font-size: 1.3em;
  }
}

.list {
  width: 100%;
  text-align: center;
  padding: 1.3em 0;
  list-style: none;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn__imgClose {
  width: 6rem;
}

.btn__imgOpen {
  width: 6rem;
}

.navbar__open-menu,
.navbar__close-menu {
  display: block;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 62em) {
  .navbar__open-menu,
  .navbar__close-menu {
    display: none;
  }
}

.navbar__close-menu {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-top: 2em;
}

@media (min-width: 62em) {
  .list__enlaces::after {
    content: "";
    background-color: #000;
    position: absolute;
    left: 0;
    top: calc(100% + 0.4rem);
    width: 100%;
    height: 0.4rem;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
}

@media (min-width: 62em) {
  .list__enlaces.selected::after,
  .list__enlaces:hover::after {
    opacity: 1;
  }
}

.list__enlaces.selected {
  color: #000;
}

@media (min-width: 62em) {
  .list__enlaces.selected {
    color: white;
  }
}

.list__enlaces:hover {
  color: #fff;
}

.menu-opened {
  opacity: 1;
  pointer-events: all;
}

.navbar__open-menu:not(:focus-visible),
.navbar__close-menu:not(:focus-visible) {
  outline: none;
}

.profile__container {
  background: #f1bd36;
}

.profile {
  width: 100%;
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  font-size: 1.7rem;
  line-height: 1.3;
  text-align: center;
  padding-top: 5rem;
  margin: 0 auto;
}

@media (min-width: 30em) {
  .profile {
    font-size: 2.5rem;
  }
}

@media (min-width: 48em) {
  .profile {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 2em;
    padding-top: 1rem;
  }
}

@media (min-width: 80em) {
  .profile {
    font-size: 3rem;
  }
}

.profile__text {
  padding: 0.5em;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

@media (min-width: 48em) {
  .profile__text {
    text-align: left;
  }
}

@media (min-width: 62em) {
  .profile__text {
    font-size: 1.3em;
    margin-top: 1em;
  }
}

.profile__title {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.6em;
  color: #000;
}

.profile__subtitle {
  font-size: 0.8em;
  margin-bottom: 1em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@media (min-width: 62em) {
  .profile__subtitle {
    font-size: 0.7em;
  }
}

.profile__image {
  position: relative;
}

.profile__img {
  width: 70%;
  max-width: 40rem;
}

@media (min-width: 30em) {
  .profile__img {
    width: 30rem;
  }
}

@media (min-width: 80em) {
  .profile__img {
    width: 80%;
  }
}

.profile__line {
  background-color: #fff;
  height: 1rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.card {
  background-color: #000;
  width: 20rem;
  height: 6rem;
  line-height: 1.6;
  border-radius: 1rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.6em;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .card {
    height: 3em;
    margin: 0;
  }
}

@media (min-width: 80em) {
  .card {
    height: 4em;
  }
}

.card__body {
  display: none;
}

@media (min-width: 30em) {
  .card__body {
    font-size: 0.5em;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #061c9be3;
    text-align: center;
  }
}

@media (min-width: 30em) {
  .card__body {
    font-size: 0.7em;
  }
}

@media (min-width: 48em) {
  .card__body {
    margin-right: 0.5em;
  }
}

@media (min-width: 62em) {
  .card__body {
    font-size: 0.9em;
  }
}

.card__text {
  font-size: 0.9em;
}

.btn {
  background-color: #000;
  font-size: 1.3rem;
  width: 15rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 0.5rem;
  text-align: center;
}

@media (min-width: 62em) {
  .btn {
    width: 7em;
    font-size: 0.9em;
    width: 19rem;
    height: 5rem;
    line-height: 5rem;
  }
}

@media (min-width: 80em) {
  .btn {
    width: 9em;
  }
}

.btn__text {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.1cm;
}

.btn:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.language {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 48em) {
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.language__container {
  width: 100%;
  background-color: #000;
}

.language__info {
  padding: 1rem 0;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.815);
}

@media (min-width: 48em) {
  .language__info {
    font-size: 1.6rem;
  }
}

.language__icon {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.952);
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 48em) {
  .language__icon {
    font-size: 3.2rem;
  }
}

.language__icon:hover {
  color: #ff9900bd;
}

.language__text {
  text-transform: capitalize;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 0.5em;
}

@media (min-width: 62em) {
  .language__text {
    display: none;
  }
}

.language__title {
  font-weight: bold;
}

.skills__container {
  width: 100%;
  background-color: #ffffff;
}

.skills {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 3rem;
  padding: 1em 0.5em;
  text-transform: uppercase;
  border-top: 1px solid rgba(0, 0, 0, 0.055);
}

@media (min-width: 48em) {
  .skills {
    font-size: 3.5rem;
  }
}

.skills__soft {
  width: 100%;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: 0.2rem;
}

.list-skills {
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0.7em;
  margin: 1rem;
  border: 0.2rem solid #ff9b00;
  color: black;
  font-weight: 800;
  border-radius: 4rem;
  text-align: center;
  font-size: 0.4em;
}

@media (min-width: 48em) {
  .list-skills {
    margin: 2rem;
    border: 0.3rem solid #ff9b00;
  }
}

.projects {
  width: 100%;
  background-color: #ffffff;
}

.project__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.projects__cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
}

@media (min-width: 37.5em) {
  .projects__cards {
    -ms-grid-columns: (minmax(200px, auto))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    padding: 0 0.5em;
  }
}

.cards {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

@media (min-width: 37.5em) {
  .cards {
    border-radius: 1rem;
  }
}

.cards__img {
  width: 100%;
  height: 100%;
}

@media (min-width: 48em) {
  .cards__body {
    font-size: 3em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cards__description {
  display: none;
}

@media (min-width: 48em) {
  .cards__description {
    font-size: 0.9em;
    background-color: yellow;
    width: 98%;
    height: 5rem;
    border-radius: 1rem;
    padding: 0.5em 0 0 0.5em;
  }
}

.projects__title {
  padding: 1em 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

@media (min-width: 43.75em) {
  .projects__title {
    font-size: 2em;
  }
}

.contact {
  height: 100%;
  background-color: #fff;
}

.contact__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.form {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 2rem;
}

@media (min-width: 30em) {
  .form {
    width: 50rem;
    border-radius: 1rem;
  }
}

@media (min-width: 48em) {
  .form {
    width: 60rem;
  }
}

.contact__form {
  width: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  text-align: center;
  margin: 3rem 0 0.5em 0;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

@media (min-width: 48em) {
  .contact__title {
    font-size: 2em;
  }
}

.form__group {
  margin-bottom: 1em;
  font-family: "Roboto", sans-serif;
  padding: 0.5em;
}

.form__label {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000134;
  letter-spacing: 0.2rem;
}

.form__input {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 0.2rem solid #ff9b00;
  font-size: 1.5em;
}

.contact__btn {
  display: block;
  width: 90%;
  text-decoration: none;
  text-align: center;
  background-color: #000;
  color: #ff9b00;
  height: 6rem;
  line-height: 6rem;
  font-size: 0.8em;
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1rem;
  margin: 0 auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 30em) {
  .contact__btn {
    width: 25rem;
  }
}

.contact__btn:hover {
  color: #ff9b00;
}

.form__textarea {
  display: block;
  width: 100%;
  font-size: 1.5em;
  border: 0;
  outline: none;
  background-color: transparent;
  border-bottom: 0.2rem solid #ff9b00;
  font-family: "Roboto", sans-serif;
}

.footer {
  width: 100%;
  background-color: #fce160;
}

.footer__container {
  font-size: 2rem;
  width: 100%;
  height: 30rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__info {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

@media (min-width: 48em) {
  .footer__info {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

.footer__logo {
  margin: 0.5rem auto;
}

@media (min-width: 48em) {
  .footer__logo {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
}

.footer__img {
  width: 10rem;
}

@media (min-width: 48em) {
  .footer__img {
    width: 12rem;
  }
}

.footer__icono {
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
}

.footer__redes {
  font-size: 2.5em;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 48em) {
  .footer__redes {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 9;
    font-size: 3em;
  }
}

.footer-link {
  text-decoration: none;
  color: #000;
}

.footer__text {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.2rem;
  text-align: center;
}

@media (min-width: 48em) {
  .footer__text {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 6;
    text-align: left;
    font-size: 1.2em;
  }
}

.footer__title {
  color: #ff9b00;
}

.footer__social {
  background-color: #000;
}

.footer__copy {
  text-align: center;
  font-size: 0.8em;
  padding: 2em 0;
  color: #ff9b00;
}
/*# sourceMappingURL=style.css.map */