// Background
$background: white;
$profile: #262677;
$menu: #33424f;
$hover-menu: #202074;
$card: #053b81;
$btn: #de596b;
$design: #8cb38b;
$develop: #cea5be;
$marketing: #f7d092;
$it: #b4bbf6;
$busines: #b5f3eb;
$comunication: #b5e0d7;
$cards: #f0eaea;
$anuncio: #2197c5;
$projects: #d9dadf;

// Language
$languaje: #75a1c8;
$skill: rgb(155, 150, 150);

// Text
$text-logo: #de596b;
$text-color: #000;
$subtitle: #676976;
$links: #262677;
$white: #fff;
$blue: #061c9be3;
$text-card: #171e24;
$text-about: blue;
$author: rgba(0, 0, 0, 0.877);
$list-business: rgba(3, 12, 93, 0.418);
$title-business: rgba(3, 12, 93, 0.637);
$title-anuncio: #e4fbfe;
$subtitle-anuncio: #e4fbfea4;
$btn-anuncio: #2282a8;
$text-project: #061c9bd3;
// Languages
$icon-one: #dd4b25;
$icon-two: #146eb0;
$icon-three: #efd81d;
$icon-four: #d6002f;
$icon-five: #d25191;
$icon-six: #7cdef7;

//shadow
$shadow-navbar: #de596a;
$img-line: #a19204;
