// Background
$background: white;
$profile: #f1bd36;
$menu: #33424f;
$hover-menu: #202074;
$card: #053b81;
$btn: #000;
$design: #8cb38b;
$develop: #cea5be;
$marketing: #f7d092;
$it: #b4bbf6;
$comunication: #b5e0d7;
$cards: #f0eaea;
$anuncio: #2197c5;
$projects: #d9dadf;
$footer: #000;

// $footer: #000c43;
// Language
$languaje: #000;
//$languaje: #000134;
$skill: #ffffff;

// Text
$title: #000c43;
$text-logo: #ff9b00;
$text-color: #000;
$subtitle: #676976;
$links: #262677;
$white: #fff;
$blue: #061c9be3;
$text-card: #171e24;
$text-about: blue;
$author: rgba(0, 0, 0, 0.877);
$enlaces: #000;
$title-business: rgba(3, 12, 93, 0.637);
$title-anuncio: #e4fbfe;
$title-profile: #000;
$subtitle-anuncio: #e4fbfea4;
$input: #ff9b00;
// Languages
$icon: rgba(255, 255, 255, 0.952);
$icon-two: #ff9900bd;

//shadow
$shadow-navbar: rgba(0, 0, 0, 0.11);
$img-line: #fff;
$link-line: #000;
$hover: #fff;
