// Background
$background: white;
$menu: #33424f;
$hover-menu: #171e24;
$card: rgb(5, 59, 129);
$btn: #3a66f7;

// Language
$languaje: #75a1c8;

// Text
$text-color: #000;
$text-logo: #ff6600;
$white: #fff;
$text-card: #171e24;
$text-about: blue;

// Languages
$icon-one: #dd4b25;
$icon-two: #146eb0;
$icon-three: #efd81d;

//shadow
$shadow-navbar: #e5e5e5;
