* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font: 400 1.6rem/1.2 $roboto;
  color: $text-color;
  background-color: $background;
  padding-top: 14rem;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  scroll-behavior: smooth;
}
