* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font: 400 1.6rem/1.2 $roboto;
  color: $text-color;
  background-color: $background;
}

.container {
  @media (min-width: 48em) {
    width: 90%;
    margin: 4rem auto;
    border-radius: 1rem 1rem 0 0;
  }
}
