.business {
  width: 100%;
  font-family: $raleway;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  // margin-top: 5em;
}

.business__text {
  font-family: $otomanopee;
  // padding: 0 1.2em;
}

.business__name {
  // margin-top: 2em;
}

.business_title {
  font-size: 1.4em;
  color: $title-business;
}
.business__list {
  line-height: 2;
  color: $list-business;
  font-weight: 700;
  @media (min-width: 62em) {
    display: flex;
    justify-content: space-around;
  }
}

.business__list-name {
  //font-size: 1.3em;
  list-style: none;
}

.info {
  width: 100%;
  //padding: 1.2em;
  @media (min-width: 62em) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    //justify-content: center;
    column-gap: 3em;
  }
}
.info__text {
  width: 100%;
  text-align: justify;
  //margin-bottom: 1.4em;
  color: $list-business;
  font-weight: bold;
  font-size: 1em;
}
