.footer {
  width: 100%;
  background-color: #fce160;
}

.footer__container {
  font-size: 2rem;
  width: 100%;
  height: 30rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  justify-content: center;
}

.footer__info {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  @media (min-width: 48em) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.footer__logo {
  margin: 0.5rem auto;
  @media (min-width: 48em) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.footer__img {
  width: 10rem;
  @media (min-width: 48em) {
    width: 12rem;
  }
}

.footer__icono {
  font-size: 1.5em;
  font-family: $raleway;
}

.footer__redes {
  font-size: 2.5em;
  text-align: center;
  margin-top: 2rem;
  @media (min-width: 48em) {
    grid-column-start: 7;
    grid-column-end: 9;
    font-size: 3em;
  }
}
.footer-link {
  text-decoration: none;
  color: $footer;
}

.footer__text {
  font-family: $poppins;
  font-size: 1.5em;
  font-weight: 700;
  color: $footer;
  letter-spacing: 0.2rem;
  text-align: center;
  @media (min-width: 48em) {
    grid-column-start: 4;
    grid-column-end: 6;
    text-align: left;
  }
}

.footer__title {
  color: #ff9b00;
}

.footer__social {
  background-color: $footer;
}
.footer__copy {
  text-align: center;
  font-size: 0.8em;
  padding: 2em 0;
  color: #ff9b00;
}
