.navbar {
  height: 12rem;
  width: 100%;
  box-shadow: 0 0.4rem 0.5rem $shadow-navbar;
  position: fixed;
  @media (min-width: 48em) {
    width: 90%;
    border-radius: 1rem 1rem 0 0;
  }
}

.navbar__container {
  background-color: $profile;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  @media (min-width: 48em) {
    border-radius: 1rem 1rem 0 0;
  }
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 62em) {
    //justify-content: space-around;
    align-items: center;
    //font-size: 1.3rem;
    height: 100%;
    padding: 0 2em;
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 0.8em;
  @media (min-width: 62em) {
    width: 100%;
  }
}
.navbar__text {
  font-size: 1.8rem;
  font-weight: 700;
  color: $text-logo;
  @media (min-width: 62em) {
    font-size: 2rem;
  }
}

.navbar__img {
  border-radius: 50%;
  @media (min-width: 62em) {
    width: 12%;
    height: 12%;
  }
}

.navbar__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  width: 100%;
  // background-color: $menu;
  background-color: $links;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  @media (min-width: 62em) {
    flex-direction: row;
    //justify-content: flex-end;
    position: static;
    opacity: 1;
    overflow: initial;
    pointer-events: initial;
    height: 100%;
  }

  .list__enlaces {
    text-decoration: none;
    color: $white;
    font-size: 1.3em;
    margin: 0;
    position: relative;
    @media (min-width: 62em) {
      width: 100%;
    }
  }
}

.list {
  width: 100%;
  text-align: center;
  padding: 1.3em 0;
  list-style: none;
  text-transform: capitalize;
  transition: 0.4s;
}

// .list:hover {
//   background-color: $hover-menu;
// }

.navbar__open-menu {
  width: 20rem;
  height: 6rem;
}
.navbar__close-menu {
  width: 18rem;
  height: 7rem;
}

.navbar__open-menu,
.navbar__close-menu {
  display: block;
  color: $white;
  cursor: pointer;
  @media (min-width: 62em) {
    display: none;
  }
}

.navbar__close-menu {
  align-self: flex-end;
  padding: 1.1em 0;
}

.list__enlaces::after {
  @media (min-width: 62em) {
    content: "";
    background-color: $img-line;
    position: absolute;
    left: 0;
    top: calc(100% + 0.4rem);
    width: 100%;
    height: 0.4rem;

    opacity: 0;
    transition: opacity 0.3s;
  }
}

.list__enlaces.selected::after,
.list__enlaces:hover::after {
  @media (min-width: 62em) {
    opacity: 1;
  }
}

.list__enlaces:hover {
  color: #f1a0b9;
}
.menu-opened {
  opacity: 1;
  pointer-events: all;
}

.navbar__open-menu:not(:focus-visible),
.navbar__close-menu:not(:focus-visible) {
  outline: none;
}
