.navbar__container {
  height: 10rem;
  box-shadow: 0 0.4rem 0.5rem $shadow-navbar;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
}

.navbar__text {
  font-weight: 500;
  color: $text-logo;
}

.navbar__img {
  border-radius: 50%;
}

.navbar__links {
  display: flex;
  //   align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: $menu;
  height: 100%;
  overflow-y: auto;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  @media (min-width: 48em) {
    align-items: center;
    justify-content: space-between;
  }
}

.navbar__open-menu,
.navbar__close-menu {
  display: block;
  color: $white;
  cursor: pointer;
}

.navbar__close-menu {
  align-self: flex-end;
  padding: 2.8em 4.3em;
}

.menu-opened {
  opacity: 1;
  pointer-events: all;
}
