.navbar {
  // position: fixed;
  width: 100%;
}

.navbar__container {
  background-color: $menu;
  height: 10rem;
  box-shadow: 0 0.4rem 0.5rem $shadow-navbar;
  left: 0;
  top: 0;
  width: 100%;
  @media (min-width: 62em) {
    background-color: rgb(38, 38, 119);
  }
}

.navbar__menu {
  display: flex;
  justify-content: space-around;
  @media (min-width: 62em) {
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    height: 100%;
    padding: 0 2em;
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  @media (min-width: 62em) {
    width: 100%;
  }
}
.navbar__text {
  font-size: 1.8rem;
  font-weight: 500;
  color: $text-logo;
}

.navbar__img {
  border-radius: 50%;
}

.navbar__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  width: 100%;
  background-color: $menu;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  //pointer-events: none;
  transition: opacity 0.4s;
  @media (min-width: 62em) {
    background-color: rgb(38, 38, 119);
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    opacity: 1;
    overflow: initial;
  }

  .enlaces {
    text-decoration: none;
    color: $white;
    font-size: 1.3em;
    @media (min-width: 62em) {
      flex-direction: row;
      //position: static;
      width: 100%;
      font-size: 2rem;
    }
  }
}

.list {
  width: 100%;
  text-align: center;
  padding: 1.3em 0;
  //margin: 1em;
  list-style: none;
  text-transform: capitalize;
  transition: 0.4s;
  @media (min-width: 62em) {
  }
}

.list:hover {
  background-color: $hover-menu;
}

.navbar__open-menu,
.navbar__close-menu {
  display: block;
  color: $white;
  cursor: pointer;
  @media (min-width: 62em) {
    display: none;
  }
}

.navbar__close-menu {
  align-self: flex-end;
  padding: 1.6em 2.5em;
}

.menu-opened {
  opacity: 1;
  pointer-events: all;
}

.navbar__open-menu:not(:focus-visible),
.navbar__close-menu:not(:focus-visible) {
  outline: none;
}
