.btn {
  font-family: $poppins;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  background-color: $btn;
  color: $white;
  font-weight: 700;
  font-size: 1.4rem;
  width: 18rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  @media (min-width: 62em) {
    width: 7em;
    font-size: 0.9em;
    width: 19rem;
    height: 5rem;
    line-height: 5rem;
  }
  @media (min-width: 80em) {
    width: 9em;
  }
}

.btn:hover {
  background-color: white;
  color: #000;
  border: 0.1rem solid #000;
}

// .btn__text:hover {
//   color: #000;
//   font-size: 1em;
// }
