.btn {
  background-color: $btn;
  font-size: 1.3rem;
  padding: 0.4em 0.8em;
  width: 9rem;
  border-radius: 0.5rem;
  text-align: center;
  @media (min-width: 62em) {
    width: 7em;
    font-size: 0.9em;
  }
  @media (min-width: 80em) {
    width: 9em;
  }
}

.btn__text {
  color: $blue;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

.btn:hover {
  filter: brightness(130%);
}
