.profile__container {
  background: $profile;
}

.profile {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "image image"
    "texto texto";
  font-size: 1.7rem;
  line-height: 1.3;
  text-align: center;
  padding-top: 5rem;
  margin: 0 auto;
  @media (min-width: 30em) {
    font-size: 2.5rem;
  }
  @media (min-width: 50em) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto image";
    align-items: center;
    padding-top: 1rem;
    font-size: 1.3em;
  }
  @media (min-width: 80em) {
    font-size: 2.5rem;
  }
}

.image {
  grid-area: image;
}

.text {
  grid-area: texto;
}

.profile__text {
  padding: 0.5em;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  @media (min-width: 48em) {
    margin-bottom: 0;
    padding-top: 2em;
    margin-top: 1.5em;
    font-size: 1.1em;
  }
  @media (min-width: 50em) {
    font-size: 1em;
    margin-top: 0em;
    text-align: left;
  }
  @media (min-width: 62em) {
    font-size: 1.2em;
    margin-left: 1.4em;
  }
  @media (min-width: 80em) {
    font-size: 1.3em;
  }
}

.profile__title {
  font-family: $poppins;
  margin-bottom: 0.6em;
  color: $title-profile;
}

.profile__subtitle {
  font-size: 0.8em;
  margin-bottom: 1em;
  color: $white;
  font-family: $roboto;
  font-weight: 500;
  @media (min-width: 62em) {
    font-size: 0.7em;
  }
}

.profile__image {
  position: relative;
  //display: inline;
}

.profile__img {
  width: 70%;
  max-width: 40rem;
  @media (min-width: 30em) {
    width: 30rem;
  }
  @media (min-width: 50em) {
    width: 35rem;
  }
  @media (min-width: 62em) {
    width: 40rem;
  }
  @media (min-width: 80em) {
    width: 80%;
  }
}

.profile__line {
  background-color: $img-line;
  height: 1rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
