.skills__container {
  width: 100%;
  background-color: $skill;
}

.skills {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 3rem;
  padding: 1em 0.5em;
  text-transform: uppercase;
  //border-top: 1px solid rgba(0, 0, 0, 0.055);
  @media (min-width: 48em) {
    font-size: 3.5rem;
  }
}

.skills__soft {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__title {
  text-align: center;
  font-family: $poppins;
  color: black;
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: 0.2rem;
}

.list-skills {
  font-family: $roboto;
  @include skills-soft;
  border: 0.2rem solid #ff9b00;
  color: black;
  font-weight: 800;
  border-radius: 4rem;
  text-align: center;
  font-size: 0.4em;
  @media (min-width: 48em) {
    margin: 2rem;
    border: 0.3rem solid #ff9b00;
  }
}
