.skills__soft {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  @media (min-width: 30em) {
    font-size: 2.7rem;
  }
  @media (min-width: 48em) {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
  @media (min-width: 62em) {
    grid-template-columns: auto auto auto;
  }
  @media (min-width: 125em) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 3rem;
  }
}

.list-skills {
  width: 10em;
  padding: 1em 0;
  margin: 1em 0;
  border-radius: 1rem;
}

.list-skills__text {
  font-family: $raleway;
  font-weight: 600;
  text-align: center;
  color: $text-color;
  text-transform: capitalize;
  font-size: 0.8em;
}

.list-skills--design {
  background-color: $design;
}
.list-skills--develop {
  background-color: $develop;
}
.list-skills--marketing {
  background-color: $marketing;
}
.list-skills--it {
  background-color: $it;
}
.list-skills--busines {
  background-color: $busines;
}

.list-skills--comunication {
  background-color: $comunication;
}
